header {
    background: rgb(200, 200, 200);
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: rgb(17, 75, 55);
    text-align: justify;
}

h3 {
    color: rgb(45, 124, 97);
}

h1 {
    text-align: left;
}

#kamu {
    color: darkgray; font-size: 12px;
}
img {
    width: 32%;
height: 320px;
margin: 3px;
border: solid antiquewhite;
box-shadow: black 2px 2px 5px;
}

.homeImg {
       background-color: darkgray;
}

#einstein {
    width: 600px; height: 300px;
    margin: 10px 5px 10px 10px;
    box-shadow: black 2px 2px 5px;
}

#számítógép {
    width: 445px;
height: 300px;
margin: 10px 5px 10px 5px;
box-shadow: black 2px 2px 5px;
}

#régikép {
    width: 395px;
height: 300px;
margin: 10px 5px 10px 5px;
box-shadow: black 2px 2px 5px;   
}

.navBar {
    background-color: rgb(206, 215, 216);
    width: 100px; height: 95px;
    border: solid #a6b0c4;
    box-shadow: black 3px 2px 5px;
    margin: 10px;
}

.navBar ul {
    list-style-type: none;
}

.navBar ul li {
    display: inline-block;
}

.tulajBox1 {
    background-color: grey;
    width: 100px; height: 35px;
    border: darkgray solid;
    margin: 10px;
    position: relative; top: 20px; left: 240px;
}
.tulajBox2 {
    background-color: grey;
    width: 100px; height: 35px;
    border: darkgray solid;
    margin: 10px;
    position: relative; top: -30px; left: 720px;
}
.tulajBox3 {
    background-color: grey;
    width: 100px; height: 35px;
    border: darkgray solid;
    margin: 10px;
    position: relative; top: -80px; left: 1205px;
}

#boxSzöveg {
    margin: 2px;
    text-align: center;
}

body {
    background: rgb(245, 245, 240);
}

#pinter {
    position: relative; top: 8px; left: -1px;
    width: 300px; height: 300px;
}

button {
    box-shadow: 2px 2px 5px;
    margin: 5px;
}
